<h1>Palmer Penguin Data Analytics</h1>
<hr>
<h3>Analyst: Talabong, Catherine A.</h3>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h3>Importing dataset to Jupyter Notebook</h3>
<h3>Converting datset to dataframe</h3>
<ul>Requirements
    <li>Name of the dataframe</li>
    <li>Source</li>
</ul>

In [2]:
penguins = pd.read_csv('datasets/penguins[1].csv')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h3>Descriptive Analytics</h3>

In [3]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [4]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h3>Cleaning the Data Frame</h3>

In [5]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h2>Selecting a column</h2>
<h3>Syntax</h3><br>
data_frame['column_name']

In [6]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [7]:
penguins['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: island, Length: 344, dtype: bool

In [8]:
penguins[penguins['island'] == 'Dream']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [9]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [10]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [11]:
chinstrap_df = penguins[penguins['species'] == "Chinstrap"]
chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [12]:
adelie_df = penguins[penguins['species'] == "Adelie"]
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [13]:
gentoo_df = penguins[penguins['species'] == "Gentoo"]
gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>How many chinstrap penguins whose weight is above 4000g?</h1>

In [14]:
penguins['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [15]:
chinstrap_heavy = penguins[(penguins['body_mass_g'] >= 4000) & (penguins['species'] == "Chinstrap")]
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ KB

<h1>How to Fill-up Null Values</h1>

In [16]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [17]:
bill_length_df = penguins['bill_length_mm'].mean()
bill_length_df

np.float64(43.9219298245614)

In [18]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(bill_length_df)

penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [19]:
bill_depth_df = penguins['bill_depth_mm'].mean()
bill_depth_df

np.float64(17.151169590643274)

In [20]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(bill_depth_df)

penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [21]:
flipper_length_df = penguins['flipper_length_mm'].mean()
flipper_length_df

np.float64(200.91520467836258)

In [22]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(flipper_length_df)

penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [23]:
body_mass_df = penguins['body_mass_g'].mean()
body_mass_df

np.float64(4201.754385964912)

In [24]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(body_mass_df)

penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [25]:
sex_df = penguins['sex'].mode()[0]
sex_df

'male'

In [26]:
penguins['sex'] = penguins['sex'].fillna(sex_df)

penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>HOW TO CHANGE DATA TYPE OF A COLUMN</h1>

In [27]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [28]:
penguins['species'] = penguins['species'].astype('category')
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: category(1), float64(4), int64(1), object(2)
memory usage: 19.4+ KB

In [29]:
penguins['island'] = penguins['island'].astype('category')
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: category(2), float64(4), int64(1), object(1)
memory usage: 17.2+ KB

In [30]:
penguins['sex'] = penguins['sex'].astype('category')
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    category
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    category
 7   year               344 non-null    int64
dtypes: category(3), float64(4), int64(1)
memory usage: 15.0 KB

In [31]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.443643,1.969027,14.020657,799.613058,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.275000,15.600000,190.000000,3550.000000,2007.000000
50%,44.250000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h1>DATA AGGREGATION</h1>

<h3>The use of groupby</h3>

In [32]:
penguins_insight = penguins.groupby(['species','island','sex']).size()
penguins_insight

species    island     sex
Adelie     Biscoe     female    22
                      male      22
           Dream      female    27
                      male      29
           Torgersen  female    24
                      male      28
Chinstrap  Biscoe     female     0
                      male       0
           Dream      female    34
                      male      34
           Torgersen  female     0
                      male       0
Gentoo     Biscoe     female    58
                      male      66
           Dream      female     0
                      male       0
           Torgersen  female     0
                      male       0
dtype: int64

<h3>Testing Correlation</h3>

In [33]:
weight_flipper_cor = penguins['body_mass_g'].corr(penguins['flipper_length_mm'])
weight_flipper_cor

np.float64(0.8712017673060116)

In [34]:
from scipy.stats import f_oneway

In [35]:
penguins[penguins['sex'] == 'male']['body_mass_g']

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

<h1>Exploratory Data Analytics (EDA)</h1>

<h2>Q1. Which species has the longest flipper length?</h2>

In [36]:
chinstrap_sp = penguins[penguins['species'] == 'Chinstrap']
chinstrap_sp = chinstrap_sp['flipper_length_mm'].mean()
chinstrap_sp

np.float64(195.8235294117647)

In [37]:
gentoo_sp = penguins[penguins['species'] == 'Gentoo']
gentoo_sp = gentoo_sp['flipper_length_mm'].mean()
gentoo_sp

np.float64(217.05576777966422)

In [38]:
adelie_sp = penguins[penguins['species'] == 'Adelie']
adelie_sp = adelie_sp['flipper_length_mm'].mean()
adelie_sp

np.float64(190.02575792551556)

In [39]:
(np.array([chinstrap_sp, gentoo_sp, adelie_sp])).argsort()

array([2, 0, 1])

<h3>INSIGHTS #1 : Gentoo have the most longest flipper length among the other species</h3>

<h2>Q2. Which species has the shortest flipper length? </h2>

In [40]:
chinstrap_sp = penguins[penguins['species'] == 'Chinstrap']
chinstrap_sp = chinstrap_sp['flipper_length_mm'].mean()
chinstrap_sp

np.float64(195.8235294117647)

In [41]:
gentoo_sp = penguins[penguins['species'] == 'Gentoo']
gentoo_sp = gentoo_sp['flipper_length_mm'].mean()
gentoo_sp

np.float64(217.05576777966422)

In [42]:
adelie_sp = penguins[penguins['species'] == 'Adelie']
adelie_sp = adelie_sp['flipper_length_mm'].mean()
adelie_sp

np.float64(190.02575792551556)

In [43]:
species_flipper_rank = (np.array([chinstrap_sp, gentoo_sp, adelie_sp])).argsort()
species_flipper_rank.argsort()

array([1, 2, 0])

<h3>INSIGHTS #2 : Adelie have the most shortest flipper length among the other species</h3>

<h2>Q3. Which species has the most population in the Dream island?</h2>

In [44]:
penguins[penguins['island'] == 'Dream']['species'].value_counts()

species
Chinstrap    68
Adelie       56
Gentoo        0
Name: count, dtype: int64

<h3>INSIGHTS #3 : Chinstrap has the most population in Dream Island, Second is Adelie.</h3>

<h2>Q4. Which species has the most population in the Biscoe island?</h2>

In [45]:
penguins[penguins['island'] == 'Biscoe']['species'].value_counts()

species
Gentoo       124
Adelie        44
Chinstrap      0
Name: count, dtype: int64

<h3>INSIGHTS #4 : Gentoo has the most population in Biscoe Island. Second is Adelie.</h3>

<h2>Q5. Which species has the most population in the Torgersen island?</h2>

In [46]:
penguins[penguins['island'] == 'Torgersen']['species'].value_counts()

species
Adelie       52
Chinstrap     0
Gentoo        0
Name: count, dtype: int64

<h3>INSIGHTS #5 : Adelie has the most population and the only species in Torgersen Island.</h3>

<h2>Q6. Which gender is the most dominant?</h2>

In [47]:
penguins['sex'].value_counts()

sex
male      179
female    165
Name: count, dtype: int64

<h3>INSIGHTS #6 : Male is the most dominant gender.</h3>

<h2>Q7. What year has the most species recorded?</h2>

In [48]:
penguins['year'].value_counts()

year
2009    120
2008    114
2007    110
Name: count, dtype: int64

<h3>INSIGHTS #7 : The year 2009 has the most species.</h3>

<h2>Q8. Which island has the heaviest male penguins?</h2>

In [56]:
penguins[penguins['sex'] == 'male'].groupby('island')['body_mass_g'].max()

island
Biscoe       6300.0
Dream        4800.0
Torgersen    4700.0
Name: body_mass_g, dtype: float64

<h3>INSIGHTS #8 : Biscoe Island has the heaviest male penguins.</h3>

<h2>Q9. Which island has the lightest male penguins?</h2>

In [50]:
penguins[penguins['sex'] == 'male'].groupby('island')['body_mass_g'].min()

island
Biscoe       3550.0
Dream        2975.0
Torgersen    3300.0
Name: body_mass_g, dtype: float64

<h3>INSIGHTS #9 : Biscoe Island has the lightest male penguins.</h3>

<h2>Q10. Which island has the heaviest female penguins?</h2>

In [51]:
penguins[penguins['sex'] == 'female'].groupby('island')['body_mass_g'].max()

island
Biscoe       5200.0
Dream        4150.0
Torgersen    3800.0
Name: body_mass_g, dtype: float64

<h3>INSIGHTS #10 : Biscoe Island has the heaviest female penguins.</h3>

<h2>Q11. Which island has the lightest female penguins?</h2>

In [52]:
penguins[penguins['sex'] == 'female'].groupby('island')['body_mass_g'].min()

island
Biscoe       2850.0
Dream        2700.0
Torgersen    2900.0
Name: body_mass_g, dtype: float64

<h3>INSIGHTS #11 : Dream Island has the lightest female penguins.</h3>

<h2>Q12. Which species has the longest bill length?</h2>

In [53]:
penguins.groupby('species')['bill_length_mm'].max()

species
Adelie       46.0
Chinstrap    58.0
Gentoo       59.6
Name: bill_length_mm, dtype: float64

<h3>INSIGHTS #12 : Gentoo species has the longest bill length.</h3>

<h2>Q13. Which species has the shortest bill length?</h2>

In [73]:
penguins.groupby('species')['bill_length_mm'].min()

species
Adelie       32.1
Chinstrap    40.9
Gentoo       40.9
Name: bill_length_mm, dtype: float64

<h3>INSIGHTS #13 : Adelie specie has the shortest bill length.</h3>

<h2>Q14. Which year recorded the highest body mass?</h2>

In [79]:
penguins.groupby(['year'])['body_mass_g'].max()

year
2007    6300.0
2008    6000.0
2009    6000.0
Name: body_mass_g, dtype: float64

<h3>INSIGHTS #14 : Year 2007 recorded the highest body mass.</h3>

<h2>Q15. Which year recorded the lowest body mass?</h2>

In [80]:
penguins.groupby(['year'])['body_mass_g'].min()

year
2007    2900.0
2008    2700.0
2009    2900.0
Name: body_mass_g, dtype: float64

<h3>INSIGHTS #15 : Year 2008 recorded the lowest body mass.</h3>